[Desktop Entry]
Name=gCSVedit
GenericName=CSV Editor
Comment=Edit CSV files
Keywords=csv;tsv;dsv;editor;
Exec=gcsvedit %U
Icon=com.github.swilmet.gcsvedit
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;TextEditor;
MimeType=text/csv;text/tab-separated-values;
StartupNotify=true
DBusActivatable=true
